@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h3>Login</h3>

<form method="post" asp-controller="Home" asp-action="Login">
    Username <input type="text" name="username"/>
    <br />
    <input type="submit" value="Login" />
</form>